<script>
$(document).ready(function(){
	$(".user_submit").click(function(){
		htmlMakeAlert();
	});
	
	$(".htmlSearchBox").keypress(function(){
		if ( event.which == 13 ) {
			htmlMakeAlert();
		}
	});
});
</script>

<div class='info'><%=@message%></div>
<br/><br/>
<div class="lookup">
	<div id="lookup_form_container">
		<input class='htmlSearchBox' name ='q' placeholder='sex' type="text" value=" " />
		<select id='alarmOptions'>
		  <option value="1">Night Before</option>
		  <option value="2">1 Hour Before</option>
		  <option value="3">Don't Create Alarm</option>
		</select>
		<input class='user_submit' type="submit" value="Go" />
	</div>
</div>

