body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

path {
	opacity:.2;
	height:75%;
	width:75%;
}

a {
  color: #00B7FF;
}

.containerM {
  margin-left:auto;
  margin-right:auto;
  height:auto;
  width:auto;

}

#searchElements{
	height:100px;
	width:100%;
	position:absolute;
	top:54px;
	left:0%;

}

#infoElements{
	height:80%;
	width:28%;
	position:absolute;
	top:154px;
	background-color:white;
	opacity:50;
	margin-left:1%;
	font-size:1.5em;
}

#outputBox{
	height:50%;
	width:100%;
}
#accordion{
	height:50%;
	top:50%;
}

#mapElements{
	height:80%;
	width:69%;
	position:absolute;
	top:154px;
	left:30%;
}

#map {
	z-index:0;
}

/*#mapLoadingImage{
	margin:auto;
	z-index:1;;
	height:100%;
	width:100%;
	
}*/



#searchBar {
	height:60%;
	font-size:2em;
	width:40%;
	position:absolute;
	margin-top:20%;
	margin-bottom:20%;
	margin-left:0%;
	margin-right:0%;
	left:32%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#search-submit{
	width:10%;
	height:60%;
	position:absolute;
	margin-top:20%;
	margin-bottom:20%;
	margin-left:0%;
	margin-right:0%;
	left:75%;
}

#gps{
	width:10%;
	height:60%;
	position:absolute;
	margin-top:20%;
	margin-bottom:20%;
	margin-left:0%;
	margin-right:0%;
	left:90%;
}

#accordion{

}


/*#topInfoBox{
  height:50%;
  width:75%;
  position:absolute;
  top:0%;
}

#bottomInfoBox{
  height:50%;
  width:75%;
  position:absolute;
  top:50%;
}
#tblockInfo{
  height:25%;
  width:100%;
  position:absolute;
  top:0%;
}
#tnct{
  height:25%;
  width:100%;
  position:absolute;
  top:25%;
}
#tschedule{
  height:25%;
  width:100%;
  position:absolute;
  top:50%;
}
#talert{
  height:25%;
  width:100%;
  position:absolute;
  top:75%;
}
#bblockInfo{
  height:25%;
  width:100%;
  position:absolute;
  top:0%;
}
#bnct{
  height:25%;
  width:100%;
  position:absolute;
  top:25%;
}
#bschedule{
  height:25%;
  width:100%;
  position:absolute;
  top:50%;
}
#balert{
  height:25%;
  width:100%;
  position:absolute;
  top:75%;
}*/