






/*WARNING! WARNING! WARNING*/





/*THIS FILE WILL NOT AFFECT THE MOBILE APP

IT ONLY AFFECTS THE MOBILE DEVISE PAGES

UNLESS YOU ARE STYLING THOSE PAGES

DO NOT MESS WITH THIS*/























.container{
	margin-right: auto;
	margin-left: auto;
	width:50%;
	text-align: center;
}

#body{
	margin: auto;
/*	background: url('/images/parkclose.jpg');
*/	display: block;
	width: 100%;
	height: auto;
	position: relative;
	font-family:Helvetica, sans-serif; 
	font-size:12px;
	color: blue;
	z-index:1;	
}

#yield_page{
	vertical-align:center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index=:-1;
	visibility:visible;
}
.info, .success, .warning, .error, .validation {
    margin:auto;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	margin:auto;
	border: 1px solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding:15px 14px;
	width:650px;
	position:absolute;
	left:20%;
}

.info {
	color: #044D12;
	background-color: #ABD1B3;
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.warning {
	color: #9F6000;
	background-color: #ffff66;
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
}