.container{
	margin-right: auto;
	margin-left: auto;
	width:100%;
	text-align: center;
}

#user_nav{
	color: #06275D;
	background-color: black;
	height:45px;
	padding: 0px;
	z-index:0;
}

#left_tab{
	float:left;
	width:auto;
	padding:1px;
	margin:0px;
	border:10px;
	border-color:white;
	z-index:1;
	
}

#right_tab{
	float:right;
	width:auto;
	padding:2px;
	margin:0px;
	border:10px;
	border-color:white;
	z-index:1;
}

.search_bar{
/*element containing the search bar and button*/
/*should this be an ID instead of a class?*/
	border-radius: 15px;
	-moz-border-radius: 15px;
	position:relative;
	top:0px;
	height:55px;
	margin: 5px 5px 5px 5px;
	width:99%;
	-moz-width:100%;
	padding:2px 2px 2px 2px;
}

.input{
/*div containing the actual search input bar*/
	border-radius: 15px;
	position:relative;
	float:left;
	-moz-border-radius: 15px;
	border: 0px;
	font-size: 20px;
	display:center;
	height:55px;
	padding:15px 15px 15px 15px;
	margin: 10px 10px 10px 10px;
	
.user_search{
/*styling for search bar*/
	border-radius: 7px;
	moz-border-radius: 7px;
	height:45px;
	margin: 15px 15px 15px 15px;
	padding: 10px 10px 10px 10px;
	vertical-align:center;
	s
}

.search_button{
	position:relative;
	float:right;
	height:55px;
}
#yield_page{
	width:100%;
	margin: 5px;
}
.info, .success, .warning, .error, .validation {
    margin-left:auto;
    margin-right:auto;
	font-size:15px;
	height:30px;
	font-weight:bold;
	text-align:center;
	position:relative;
	top:6px;
	border:0px;
	margin:0px;
	width:100%;
	padding:0px;

}
.info {
	color: #00529B;
	background-color: #BDE5F8;
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.warning {
	color: #9F6000;
	background-color: #ffff66;
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
}

.alert{
/*	background-color: white; */
	postion:relative;
	top:50px;
	width:99%;
	color:black;
}

.alert_head{
	position: relative;
	font-style: uppercase;
	width: 98%;
	margin: 10px 10px 10px 10px;
	padding: 10px 5px 10px 5px;
	
}

.alert_row{
	position: relative;
	width: 98%;
	margin: 3px 3px 3px 3px;
	padding: 10px 5px 10px 5px;
}

/*Accordion CSS*/
.AccordionTitle, .AccordionContent, .AccordionContainer {
  position:relative;
  width:200px;
}

.AccordionTitle
{
  height:20px;
  overflow:hidden;
  cursor:pointer;
  font-family:Helvetica;
  font-size:8pt;
  font-weight:bold;
  vertical-align:middle;
  text-align:center;
  background-repeat:repeat-x;
  display:table-cell;
 /* background-image:'images/logo.png';*/
  -moz-user-select:none;
}

.AccordionContent
{
  height:0px;
  overflow:auto;
  display:none; 
}

.AccordionContainer
{
  border-top: solid 1px #FFFFFF;
  border-bottom: solid 1px #C1C1C1;
  border-left: solid 2px #C1C1C1;
  border-right: solid 2px #C1C1C1;
}
