.container{
	margin-right: auto;
	margin-left: auto;
	width:75%;
	text-align: center;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto 14em;
}

#table{
/*	color: white;*/
}

#user_nav{
	color: #06275D;
	background-color: #06275d;
	padding: 10px 10px 10px 10px;
}

#user_sign{
	text-align: right;
	float: right;
	color: white;
}

#footer_nav ul{
	list-style: none;
	display: inline;
}

#logo{
	float: left;
}

#body{
	margin: auto;
	background: url('/images/2.jpg');
	font-size:14px;
	display: block;
	height: auto;
	position: relative;
	
}

body{
font-family:Futura, Helvetica, sans-serif; 
font-size:12px;
color: white;

}

#alertmsg{
	position: relative;
	top: 25px;
	height:50px;
}

.lookup{
	background-color:white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 100px auto auto auto;
	height:55px;

	vertical-align:center;
	line-height: 50px;
	width:700px;
	-moz-width:900px;

}

#cell{
	position:relative;
	top:10px;
	left:50px;
}


.info, .success, .warning, .error, .validation {
    margin-left:auto;
    margin-right:auto;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	margin:auto;
	border: 1px solid;
	border-radius: 5px;
	width:830px;
	-moz-border-radius: 5px;
	padding:15px 10px 15px 20px;
	
/*	background-repeat: no-repeat;
	background-position: 10px center;*/
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
	vertical-align:center;
	padding:0px;
	height:50px;

}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.warning {
	color: #9F6000;
	background-color: #ffff66;
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
/*	background-image: url('error.png');
*/}
#logo{
	text-align: center;
	font-size: 50px;
	margin: 0px;
}

.about_image{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	
	
}

#yield_page{
	vertical-align:center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#login{
	float: right;
	text-align:left;
	padding: 25px 25px 25px 25px;
}

p{
	margin: 0px;
}

#links{
	text-align: center;
}

#feedback_head{
	text-align: center;
}

.field{
	text-align: center;
}

.button{
	width: 100px;
}

a{
	color: #EEC015;
	text-decoration: none;
}

a:visited{
	color: #EEC015;
}

a:hover{
	color: blue;
	text-decoration: none;
}

.content_box{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
    margin-bottom: 40px;
	width: 300px;
	padding:40 20 60 20;
	background: white;
	border: 12px solid black;
	border-radius: 15px;
	-moz-border-radius: 15px;
	color: black;
	
}

.content_box p{
	color: black;
	text-align: block;
}

.content_box h2, h3, h4{
	color: black;
}

#about_box{
	width: 50%;
	text-align: left;
}

.content_box .content_border{
	border: 12px solid #EEC015;
	border-radius: 15px;
	-moz-border-radius: 15px;
	filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5;
}

.input1{
	border-radius: 17px;
	-moz-border-radius: 17px;
	border: 0px;
	font-size: 15px;
	height:50px;
	width:400px;
	vertical-align: center;
}

#footer_pay{
	text-align: right;
	bottom: 0
	position: absolute;
	
}

label{
	text-align: left;
}

.user_submit{
/*	background-image: url('/images/eyeglass.png');
	height:50px;
	width:55px;
	line-height:50px;
	padding:0px;
	margin: 0px;
	border: 0px;*/
	
	
	height:25px;
	width: 50px;
	margin: 15px 15px 15px 15px;
	padding: 5px 5px 5px 5px;
	font-family: Helvetica;
	font-size: 12px;
	text-decoration: none;
	color: #EEC015;
	text-shadow: -1px -1px 2px #618926;
	background: -moz-linear-gradient(#2660ff, #06275d 35%, #3232a8);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #2660ff),color-stop(.35, #06275d),color-stop(1, #3232a8));
	border: 1px solid #3232a8;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.user_submit:hover {
height:25px;
width: 50px;
margin: 15px 15px 15px 15px;
padding: 5px 5px 5px 5px;
font-family: Helvetica;
font-size: 12px;
text-decoration: none;
color: #EEC015;
text-shadow: -1px -1px 2px #465f97;
background: -moz-linear-gradient(#3232a8, #06275d 75%, #2660ff);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #3232a8),color-stop(.75, #06275d),color-stop(1, #2660ff));
border: 1px solid #3232a8;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.user_delete{
	height:20px;
	width: 50px;
	margin: 3px 3px 3px 3px;
	padding: 3px 3px 3px 3px;
	font-family: Helvetica;
	font-size: 10px;
	text-decoration: none;
	color: #EEC015;
	text-shadow: -1px -1px 2px #618926;
	background: -moz-linear-gradient(#2660ff, #06275d 35%, #3232a8);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #2660ff),color-stop(.35, #06275d),color-stop(1, #3232a8));
	border: 1px solid #3232a8;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.user_delete:hover {
height:20px;
width: 50px;
margin: 3px 3px 3px 3px;
padding: 3px 3px 3px 3px;
font-family: Helvetica;
font-size: 10px;
text-decoration: none;
color: #EEC015;
text-shadow: -1px -1px 2px #465f97;
background: -moz-linear-gradient(#3232a8, #06275d 75%, #2660ff);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #3232a8),color-stop(.75, #06275d),color-stop(1, #2660ff));
border: 1px solid #3232a8;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#tos{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
    margin-bottom: 40px;
	width: 75%;
	padding:40 20 40 20;
	background: #06275D;
	border: none;
	color: black;
	float: left;
}
#tos p{
	color: #6C7A7D;
}

#show_alert{
	color: black;
	text-align: center;
	padding-top: 20px;
}

.how_para{
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
    margin-bottom: 40px;
	width: 500px;
	padding:40 20 60 20;
	background: white;
	border: 12px solid black;
	border-radius: 15px;
	-moz-border-radius: 15px;
	color: black;
	text-align: center;
}

#how_to{
	margin: 20px auto auto auto;
}