/*
// "container"
// styles the sandwhich
// and the view
*/
.container{
	background-color: #06275d;
	margin-right: auto;
	margin-left: auto;
	/*width:75%;*/
	text-align: center;
	position: relative;
	/*min-height: 100%;
		height: auto !important;*/
	height: 100%;
	margin: 0 auto 14em;
}

#table{
/*	color: white;*/
}



/*
// "user_nav_basic"
// styles the menu area
// including logo and menu items
// contained within "user_nav" <div>
*/
#user_nav_basic{
	/*display:inline-block;*/
	display:inline;
	margin: auto;
	color: #FFFFFF;
	position:absolute;
	left:160px;
	bottom:10px;
}

#user_nav_basic a{
	padding-right:15px;
}

/*
// "user_nav"
// applied to <header> tag
// styles the <div> with id "user_nav_basic"
*/
#user_nav{
	text-align: left;
	vertical-align:middle;
	background-color: #06275d;
	padding: 10px 10px 10px 10px;
	height:34px;
	position:relative;
	font-family:Futura, Helvetica, sans-serif; 
	font-size:14px;	
}

#user_nav a{
	color:white;
}

#user_nav a:hover{
	color:#EEC015;
}

#logo{
	width:32px;
}

#logo a{
	display:inline-block;
	float:left;
}

#user_sign{
	text-align: right;
	color: white;
	width: 400px;
	float: right;
	position:absolute;
	bottom:10px;
	right:10px;
}

#user_sign a{
	padding-left:15px;
}

#footer_nav ul{
	list-style: none;
	display: inline;
}


/*redundant css block*/
/*difference between "#body" and "body"??*/
#body{
	margin: auto;
	background: url('/images/2.jpg');
	display: block;
	height: auto;
	position: relative;
	font-family:Helvetica, sans-serif; 
	font-size:12px;
	color: white;
	
}

/*redundant css block*/
/*body{
font-family:Helvetica, sans-serif; 
font-size:12px;
color: white;

}
*/

#lookup{
	padding-top:50px;
	height:200px;
}

#lookup form{
	margin:auto;
	width:100%;
}

/* "alertmsg"
// styles the alert message
// that appears after either
// a correct or wrong query
// in address search bar
*/
#alertmsg{
	position: absolute;
	top: 48%;
	left:0;
	height:50px;
	width:100%;
}

#how_to{
	margin: 20px auto;
}

#cell{
	position:relative;
	top:10px;
	left:50px;
}

/*
// styles the various
// alert message types
*/
.info, .success, .warning, .error, .validation {
    margin:auto;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	margin:auto;
	border: 1px solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding:15px 14px;
	width:650px;
	position:absolute;
	left:20%;
}

.info {
	color: #044D12;
	background-color: #ABD1B3;
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
}
.warning {
	color: #9F6000;
	background-color: #ffff66;
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
}

/* styles the commented out logo <div> */
/*#logo{
	text-align: center;
	font-size: 50px;
	margin: 0px;
}
*/
/* styles the "about_image" <div> in "about us"*/
.about_image{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	
	
}

/* styles the <div> containing the %yield% command */
#yield_page{
	vertical-align:center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


#login{
	float: right;
	text-align:left;
	padding: 25px 25px 25px 25px;
}

p{
	margin: 0px;
}

#links{
	text-align: center;
}

#feedback_head{
	text-align: center;
}

.field{
	text-align: center;
}

.button{
	width: 100px;
}

a{
	color: #EEC015;
	text-decoration: none;
}

a:visited{
	color: #EEC015;
}

a:hover{
	color: blue;
	text-decoration: none;
}

/*.content_box{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
    margin-bottom: 40px;
	width: 300px;
	padding:40 20 60 20;
	background: white;
	border: 12px solid black;
	border-radius: 15px;
	-moz-border-radius: 15px;
	color: black;
	
}*/

.content_box p{
	color: black;
	text-align: block;
}

.content_box h2, h3, h4{
	color: black;
}

#about_box{
	width: 50%;
	text-align: left;
}

.content_box .content_border{
	border: 12px solid #EEC015;
	border-radius: 15px;
	-moz-border-radius: 15px;
	filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5;
}

.input1{
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 0;
	margin: 0;
	font-size: 15px;
	padding:15px;
	width:650px;
	position:absolute;
	top:30%;
	left:20%;
}

#footer_pay{
	text-align: right;
	bottom: 0
	position: absolute;
	
}

label{
	text-align: left;
}

.user_submit{
	height:25px;
	width: 150px;
	padding: 5px;
	font-family: Futura,Helvetica,sans serif;
	font-size: 12px;
	text-decoration: none;
	color: #06275D;
	background: -moz-linear-gradient(center bottom, #EEBF15 40%, #FFE631 100%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0.4, #EEBF15),color-stop(1, #FFE631));
	border: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.user_submit:hover{
	background: -moz-linear-gradient(center bottom, #EEBF15 100%, #FFE631 10%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(1, #EEBF15),color-stop(.1, #FFE631));
}

/*customized size for search button to align with search bar size*/
#search_submit{
	font-size:16px;
	height:48px;
	width: 100px;
	padding:0;
	position:absolute;
	left:75%;
	top:30%;
}

#alert_submit{
	font-size:13px;
	height:48px;
	width: 100px;
	padding:0;
	position:absolute;
	left:75%;
	top:0;
	color:white;;
	background: -moz-linear-gradient(center bottom, #09912D 40%, #24AE48 100%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0.4, #09912D),color-stop(1, #24AE48));
}

#alert_submit:hover{
	font-size:13px;
	height:48px;
	width: 100px;
	padding:0;
	position:absolute;
	left:75%;
	top:0;
	color:white;;
	background: -moz-linear-gradient(center bottom, #24AE48 40%, #09912D 100%);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0.4, #24AE48),color-stop(1, #09912D));
}

.user_delete{
	height:20px;
	width: 50px;
	margin: 3px 3px 3px 3px;
	padding: 3px 3px 3px 3px;
	font-family: Helvetica;
	font-size: 10px;
	text-decoration: none;
	color: #EEC015;
	text-shadow: -1px -1px 2px #618926;
	background: -moz-linear-gradient(#2660ff, #06275d 35%, #3232a8);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #2660ff),color-stop(.35, #06275d),color-stop(1, #3232a8));
	border: 1px solid #3232a8;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.user_delete:hover {
height:20px;
width: 50px;
margin: 3px 3px 3px 3px;
padding: 3px 3px 3px 3px;
font-family: Helvetica;
font-size: 10px;
text-decoration: none;
color: #EEC015;
text-shadow: -1px -1px 2px #465f97;
background: -moz-linear-gradient(#3232a8, #06275d 75%, #2660ff);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #3232a8),color-stop(.75, #06275d),color-stop(1, #2660ff));
border: 1px solid #3232a8;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

/* "tos"
// styles the entirety
// of the terms of service
*/
#tos{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
    margin-bottom: 40px;
	width: 75%;
	padding:40 20 40 20;
	background: #06275D;
	border: none;
	color: black;
	float: left;
}
#tos p{
	color: #6C7A7D;
}

#show_alert{
	color: black;
	text-align: center;
	padding-top: 20px;
}

#paypal{
	text-align: center;
}

.how_to{
	margin: 25px auto auto auto;
}

/*.how_para*/
.content_box{
	font-size: 12px;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
    margin-bottom: 40px;
	width: 500px;
	padding:20px;
	background: #EDEEF0;
	/*border: 0px solid black;*/
	border-radius: 15px;
	-moz-border-radius: 15px;
	color: black;
	text-align: center;
}

#how_to{
	margin: 20px auto auto auto;
}