<div class="content_box">
	
	<span style="font-size:20px;font-weight:bold"><%= I18n.translate('contact_us')%><br /><br />
	<a href="mailto:ticket.cricket@gmail.com">parkingcricket@gmail.com</a></span>
	
</div>