<!-- jQuery structure for the mobile page, doctype html-->

<!DOCTYPE html> 
<html> 
	<head> 
	<title>tcktcrckt</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
    </head> 

        <body>

			<div id='container'>

				<div data-role="page" id="main">  	  
 					<!-- Header -->
  					<div data-role="header" id='hdrMain' name='hdrMain' data-nobackbtn='true'>
  						tcktcrckt 
  					</div>
					
					<!-- Content -->
					<div data-role="content" id='cntMain' name='cntMain'>
					Our mobile site is currently under construction.
					<br>
					Sorry!
					<br>
					<a href="/?mobile=0">Full Site</a>
					</div>

  					<!-- Footer -->
  					<div data-role="footer" id='ftrMain' name='frtMain'>
					<%= I18n.translate('mobile.footer')%>
  					</div>
  					<!-- End Footer -->

				</div>
			</div>
			
		</body>
</html>


<!-- <div data-role="page" id="searchForCleans">
              			<!-- CLEANS HEADER  -->
              	  	<div data-role="header" id='sfcHdr' name='sfcHdr' data-nobackbtn='false'>

              		  	<div data-role="navbar"><!-- header navbar -->
              					<ul>
              						<!-- TODO: Need to put in Icons here -->
              						<li><a href="#" class="ui-btn-active">Logo</a></li>
              						<%if signed_in?%>
              							<li><a rel='external' href="/users/edit">Profile</a></li>
              						<%else%>
              							<li><a rel='external' href="/users/sign_in?mobile=1">Sign In/Up to Create Alarms</a></li>
              						<%end%>
              						<li><a rel='external' href="/lookup/how_to">How It Works</a></li>
              					</ul>
              			</div><!-- /navbar -->
              		</div>
              		     <!-- CLEANS CONTENT -->
               	    <div data-role="content" id="searchForCleansContent" name="searchForCleansContent" >
              				<div data-role="fieldcontain">
              						    <label for="search"><%= I18n.translate('mobile.search')%></label>
              						    <input type="search" name="streetclean" id="searchinput" value="" />
              					        <button type="submit" name="submit" id ="searchbutton" value="submit-value"><%= I18n.translate('mobile.submit')%></button>
              				</div>
              		</div>
              			<!-- CLEANS FOOTER -->
              			<div data-role="footer" id='ftrCleans' name='ftrCleans' data-nobackbtn='true'>
              		<div data-role="navbar"><!-- footer navbar -->
              					<ul>
              						<!-- TODO: Need to put in Icons here -->
              						<li><a rel='external' href="" class="ui-btn-active">Donate</a></li>
              						<li><a rel='external' href="/layouts/about_us">About Us</a></li>
              						<li><a rel='external' href="/layouts/contact_us">Contact Us</a></li>
              						<li><a rel='external' href="/layouts/tos">TOS</a></li>
              					</ul>
              			</div><!-- /navbar -->
              			<!-- <h1><%= I18n.translate('mobile.footer')%></h1> -->
              		</div>
              	</div>
              	</div>   			 -->