<div id='container'>

<div data-role="page" id="main">  	  
 <!-- Header -->
  <div data-role="header" id='hdrMain' name='hdrMain' data-nobackbtn='true'>
  	TCKTCRCKT 
  </div>


Our mobile site is currently under construction.
<br>
Sorry!
<br>
<a href="/?mobile=0">Full Site</a>




  <!-- Footer -->
  <div data-role="footer">
	<%= I18n.translate('mobile.footer')%>
  </div>
  <!-- End Footer -->

</div>