<script>
$(document).ready(function(){
	$(".user_submit").click(function(){
		htmlGetNextCleanTime();
	});
	
	$(".htmlSearchBox").keypress(function(){
		if ( event.which == 13 ) {
			htmlGetNextCleanTime();
		}
	});
});
</script>

<div id="alertmsg">
	<div class='info'>Welcome to TCKTCRCKT</div>	
</div>


<div id="lookup_container">

	<div id="lookup_form_container">
		  <input class='htmlSearchBox' name ='q' placeholder='sex' type="text" value=" " />
		  <input class='user_submit' type="submit" value="Go" />
	</div>
</div>

