<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>How To Use TcktCrckt</title>
</head>

<h1 id = "how_title">
	How to Use TcktCrckt
<h1>
	
<article id = "how_body">
	<section class = "how_para">
		If you have never used <%= link_to "TcktCrckt", lookup_addr_path %> before you shoold go to <%= link_to "the Sign Up page", new_user_registration_path %> and register so that you can get the most out of our site.<br><hr>
		Once you are Registered flilow these simple steps and you will be evading those pesky "meter maids" in now time!<hr>
		
		<ol>
			<li>Remember the address where you parked your car.</li>
				<ul>
					<li>To do this look up at the house in front of your car.</li>
					<li>Jot down the number and street name.</li>
				</ul>
			<li>Enter this address into the text field on the home page.</li>
			<li>If you wish to have us send you an alert before the cleaner comes chose weither you woold like to be notified an hour before cleaning time or the night before from the drop down menu next to your cleaning time.</li>
			<li>Next click on the pretty green button labeled "Create txt Alert".</li>
		</ol>
	</section>
</article>			
		
